<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="java.lang.String">
        <constructor-arg value="hello" />
    </bean>

    <bean id="shipPartsFactory" class="com.design.pattern.objectCreate.abstractFactory.after.WhiteshipPartsFactory" />

    <bean id="whiteship" class="com.design.pattern.objectCreate.abstractFactory.after.WhiteshipFactory" autowire="constructor"/>
</beans>
